$primary-color: #bdbdbd !default;
$primary-color-light: grey !default;

$secondary-color:  #bdbdbd !default;

body {
    background-color: white;
    color: $primary-color-light;
  }

input{
  color: grey;
}

@import '~materialize-css/sass/materialize';