$primary-color: #424242 !default;
$primary-color-light: white !default;

$secondary-color:  #424242 !default;

body {
    background-color: #212121;
    color: $primary-color-light;
  }

 form button{
   color: black;
 }

  input{
    color: white;
  }

@import '~materialize-css/sass/materialize';